<div class="main-content">
    {{>sidebar}}
    <div class="primary">
        <div class="product-detail">
            <img src="{{item.img}}" alt="thumbnail">
            <div class="detail">
                <h2>{{item.name}}</h2>
                <h3>${{item.price}}</h3>
                <h3 id="discount">{{#if item.discount}} -{{item.discount}}% {{/if}}</h3>
                <div class="button-array">
                    <button id="add-to-cart">Add to cart</button>
                    <button id="add-to-wishlist">Add to Wishlist</button>
                </div>
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
</div>